<%- include('partials/_header') %>

<div class="sidebar">
    <ul>
        <li><a href="#">Usuarios</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Pedidos</a></li>
    </ul>
</div>

<div class="main-content">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(producto => { %>
            <tr>
                <td><%= producto.id %></td>
                <td><%= producto.nombre %></td>
                <td><%= producto.descripcion %></td>
                <td>$<%= producto.precio %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('partials/_footer') %>
